{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<!--  -->
<div class="row">
    <div class="col-sm-10">
        <form id="prompt-form">
            <div class="form-group">
                <label for="prompt"></label>
                <textarea class="form-control" id="prompt" rows="1" placeholder="aske me about your old codes..." required></textarea>
              </div>
        </form>
    </div>
    <div class="col-sm-2">
        <button id = "showResult" type="submit" class="btn btn-warning mt-4">Find My Code</button>
    </div>
</div>




{% endblock %}